 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/orange-green-technology-background-070787698_prevstill.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 2070px;
}

.u-section-1 .u-text-1 {
  text-align: left;
  margin: 29px 570px 0 0;
}

.u-section-1 .u-text-2 {
  text-align: left;
  margin: 17px 602px 0 0;
}

.u-section-1 .u-text-3 {
  text-align: left;
  margin: 0 0 0 570px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  text-align: left;
  margin: 0 570px 0 0;
}

.u-section-1 .u-text-5 {
  text-align: left;
  margin: 0 0 0 570px;
}

.u-section-1 .u-text-6 {
  text-align: left;
  margin: 0 570px 38px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1707px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1307px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 182px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 350px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 350px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 350px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 2px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 170px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 697px;
}

.u-section-2 .u-text-1 {
  margin: 41px auto 0 0;
}

.u-section-2 .u-text-2 {
  text-align: left;
  font-size: 1.125rem;
  margin: 20px 973px 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 28px;
  min-height: 16px;
  width: 28px;
  min-width: 16px;
  margin: -28px auto 0 154px;
}

.u-section-2 .u-icon-1 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-text-3 {
  text-align: left;
  font-size: 1rem;
  margin: 12px auto 0 0;
}

.u-section-2 .u-social-icons-2 {
  height: 28px;
  min-height: 16px;
  width: 28px;
  min-width: 16px;
  margin: -25px auto 0 154px;
}

.u-section-2 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-text-4 {
  text-align: left;
  margin: 24px auto 0 0;
}

.u-section-2 .u-text-5 {
  text-align: left;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-2 .u-social-icons-3 {
  height: 28px;
  min-height: 16px;
  width: 28px;
  min-width: 16px;
  margin: -28px auto 0 154px;
}

.u-section-2 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-text-6 {
  text-align: left;
  margin: 53px auto 0 0;
}

.u-section-2 .u-form-1 {
  height: 316px;
  margin: 12px 570px 27px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 773px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 646px;
    margin-left: 127px;
  }

  .u-section-2 .u-form-1 {
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 553px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 536px;
    margin-left: 17px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 373px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 373px;
    margin-left: 0;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-right: 173px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-left: 348px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 232px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: 173px;
  }

  .u-section-2 .u-social-icons-3 {
    margin-top: -248px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 160px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
    margin-right: 0;
  }
}